
body{
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Montserrat-bold', sans-serif;
    line-height: 1.5;
}


p{
    color: #8f8f8f
}

/***************** Containers ****************/
.container-fluid{
    padding: 7% 15% ;
}

/***************** Sections ****************/
.colored-section{
    background-color: #ff4c68;
    color: white;
}

.white-section{
    background-color: #ffff;
    color: black;
}

/***************** Headings ****************/
.big-heading{
    font-family: 'Montserrat-black', sans-serif;
    font-size: 3.5rem;
}

.section-heading{
    font-size: 2.5rem;
}

/***************** Navigation Bar ****************/
.navbar{
    padding: 0 0 4.5rem;
}

.navbar-brand{
    font-size: 2.5rem;
    font-family: "Ubuntu";
}

.nav-item{
    padding: 0 18px;
    font-size: 1.2rem;
}

/***************** Title ****************/
#title .container-fluid {
    padding: 3% 15% 7%;
    text-align: left;
}
/****************** Download Buttons **************/
.download-button{
    margin: 5% 3% 5% 0;
}

/****************** Title Image ***************/
.title-img{
    width: 50%;
    transform: rotate(20deg);
    position: absolute;
    right: 30%;
}

/****************** Features ***************/
#features{
    position: relative;
}

.feature-box{
    padding: 0 5%;
}

.feature-icons{
    color: #ef8172;
    margin-bottom: 10%;
}

.feature-icons:hover{
    color: #ff4c68;
}

/******************** Testimonials ******************/
#testimonials{
    background-color: #ef8172;
}

.testimonial-img{
    border-radius: 100%;
    margin: 3%;
    width: 10%;
}

.testimonial-text{
    font-size: 2.5rem;
}
/******************** Press ******************/
#press{
    background-color: #ef8172;
    padding-bottom: 30px;

}

.press-logo{
    width: 15%;
    margin: 20px 20px 50px;
}

/******************** Pricing ******************/

.pricing-row{
    margin-top: 5%;
}

.pricing-text{
    font-size: 2rem;
    line-height: 1.5;
}

/******************** CTA ********************/


/******************** Footer ********************/
#footer .container-fluid{
    padding:  1%;
}

.footer-icon{
    margin: 2% 1%;
}

/******************* Media Query ***************/
@media (max-width: 991px){

    #title{
        text-align: center;
    }
    
    .title-img{
        position: static;
        transform: rotate(0);
    }
}